<div class="container">
  <div class="panel panel-default">
      <div class="panel-body">
        <div class="social-likes social-likes_vertical btn btn-default hidden-xs" data-counters="no" data-url=<%= full_url_for %> data-title="Casa">
          <div class="facebook" title="Share link on Facebook"><span class="glyphicon glyphicon-share"></span> Compartilhar</div>
        </div>
          <div class="page-header">
              <h3><%= @artigo.titulo %></h3>
          </div>
          <%= image_tag @artigo.foto.url(:medium), class: "img-responsive" %>
          <hr>
          <p><%= raw(@artigo.texto) %></p>
          <p><strong>Autor:</strong><%= @artigo.autor %></p>
      </div>
  </div>
</div>  