<div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Visualizado</th>
              <th>Nome</th>
              <th>Email</th>
              <th>Telefone</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @contatos.each do |contato| %>
              <tr>
                <td><%= contato.visualizado %></td>
                <td><%= contato.nome %></td>
                <td><%= contato.email %></td>
                <td><%= contato.telefone %></td>
                <td><%= contato.created_at.strftime("%d/%m/%Y") %></td>
                <td><%= link_to 'Visualizar', contato, class: "btn btn btn-default", remote: true %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>