<div class="panel panel-default">
  <div class="panel-body">
      
  <%= link_to  edit_favorito_path(@imovel) , remote: true, class: "btn btn-default hidden-xs" do %>
    <span class="glyphicon glyphicon-envelope"></span> Enviar
  <%end%>
  
  <div class="social-likes social-likes_vertical btn btn-default hidden-xs" data-counters="no" data-url=<%= full_url_for %> data-title="Casa">
    <div class="facebook" title="Share link on Facebook"><span class="glyphicon glyphicon-share"></span> Compartilhar</div>
  </div>
      
    <div class="page-header">
      <% if @imovel.tipo_id == 3 %>
        <h3><%= @imovel.tipo.nome.upcase %> <% if @imovel.area.present? %>(<%= @imovel.area %> m²) <%end%> EM <%= @imovel.cidade.nome.upcase %> BAIRRO <%= @imovel.bairro.nome.upcase %></h3>
      <%else%>
        <h3><%= @imovel.tipo.nome.upcase %> <% if @imovel.area_construida.present? %>(<%= @imovel.area_construida %> m²) <%end%> EM <%= @imovel.cidade.nome.upcase %> BAIRRO <%= @imovel.bairro.nome.upcase %></h3>
      <%end%>
    </div>
    <div class="col-md-12">  
      <div class="gallery">
        <ul id="lightgallery" class="list-unstyled row">
            <%= image_tag  "vendido.png", class: "img-responsive vendido-capa" if @imovel.situacao_id == 3 %>
          <li data-responsive="<%= @imovel.capa.url %>" data-src="<%= @imovel.capa.url %>" data-sub-html="Foto do imóvel">
            <a href="">
              <%= image_tag @imovel.capa.url(:medium), class: "img-responsive img-capa"%>
            </a>
          </li>
          <% for foto in @imovel.fotos do %>
            <li class="thumb-gallery" data-responsive="<%= foto.img.url %>" data-src="<%= foto.img.url %>" data-sub-html="<%= foto.legenda %>">
              <a href="">
                  <%= image_tag foto.img.url(:thumb) %>
              </a>
            </li>
          <%end%>    
        </ul>
      </div>
      <div>
          <strong>Descrição</strong></br>
          <%= @imovel.descricao %>
      </div>
      </div>                   
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
   $('#lightgallery').lightGallery();
  });
</script>