<div class="panel panel-default">
  <div class="panel-body">
    <h4>
    <%= @imovel.tipo.nome.upcase %> (<%= @imovel.area %> m²) EM <%= @imovel.cidade.nome.upcase %> BAIRRO <%= @imovel.bairro.nome.upcase %>
    </h4>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-12">
      <%= link_to  edit_favorito_path(@imovel) , remote: true, class: "btn btn-default fb-float hidden-xs" do %>
        <span class="glyphicon glyphicon-envelope"></span> Enviar e-mail
      <%end%>
      <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fwww.imobiliariabuenosaires.com.br%2F&layout=button&size=large&mobile_iframe=true&width=117&height=28&appId" width="117" height="28" style="border:none;overflow:hidden; margin-left:650px; margin-top:40px;position: absolute" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      <%= social_share_button_tag(@imovel.tipo.nome) %>
      <div class="gallery">
        <ul id="lightgallery" class="list-unstyled row">
            <%= image_tag  "vendido.png", class: "img-responsive vendido" if @imovel.situacao_id == 3 %>
          <li data-responsive="<%= @imovel.capa.url %>" data-src="<%= @imovel.capa.url %>" data-sub-html="Foto do imóvel">
            <a href="">
              <%= image_tag @imovel.capa.url(:medium), class: "img-responsive"%>
            </a>
          </li>
          <% for foto in @imovel.fotos do %>
            <li class="thumb-gallery" data-responsive="<%= foto.img.url %>" data-src="<%= foto.img.url %>" data-sub-html="<%= foto.legenda %>">
              <a href="">
                  <%= image_tag foto.img.url(:thumb) %>
              </a>
            </li>
          <%end%>    
        </ul>
      </div>
      </div>                   
      <div>
          <strong>Descrição</strong></br>
          <%= @imovel.descricao %>
      </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
   $('#lightgallery').lightGallery();
  });
</script>