<ol class="breadcrumb">
    <li><%= @todos %></li>
   
    <% if @tipo.present? %>
        <li><%= tipo(@tipo).upcase %></li>
    <%end%>

    <% if @categoria.present? %>
        <li><%= categoria(@categoria).upcase %></li>
    <%end%>

    <% if @cidade.present? %>
        <li><%= cidade(@cidade).upcase %></li>
    <%end%> 

</ol>


<% @imoveis.each do |imovel| %>
<div class="row">
    <div class="col-sm-12 col-md-12 hidden-xs">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <%= image_tag  "faixa_vendido.png", class: "img-responsive vendido" if imovel.situacao_id == 3 %>
                        <%= image_tag imovel.capa.url(:lista), class: "img-responsive"%>
                    </div>
                    <div class="col-md-9">
                        <div class="imovel">
                            <div class="col-md-6 nome">
                                <h4>
                                    <%= imovel.tipo.nome %> 
                                    <% if imovel.tipo_id == 3 %>
                                        <% if imovel.area.present? %>(<%= imovel.area %> m²) <%end%>
                                    <%else%>
                                        <% if imovel.area_construida.present? %>(<%= imovel.area_construida %> m²) <%end%>
                                    <%end%>
                                </h4>    
                            </div>
                            <div class="col-md-6 valor">
                                <h4>
                                    <%= number_to_currency_br(imovel.valor) %>
                                </h4>    
                            </div>
                            <div class="col-md-6 descricao">
                                <strong>Cod. <%= imovel.id  %></strong></br>
                                <span><%= imovel.cidade.nome %> bairro <%= imovel.bairro.nome.downcase %></span></br>
                                <span><%= situacao(imovel.situacao_id, imovel.situacao.nome) %></span></br>
                                <% if usuario_signed_in? %>
                                    <span>Número de visualizações: <%= imovel.visualizacoes %></span>
                                <%end%>
                            </div>
                            <div class="col-md-6 visualizar">
                                <% if usuario_signed_in? %>
                                    <%= link_to 'Detalhes', imovel , class: "btn btn btn-default" %>
                                    <%= link_to 'Editar', edit_imovel_path(imovel), class: "btn btn btn-primary" %>
                                    <%= link_to 'Deletar', imovel, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn btn-danger" %>
                                <%else%>
                                    <%= link_to  imovel , class: "btn btn btn-primary" do %>
                                        <span class="glyphicon glyphicon-ok"></span> Detalhes
                                    <%end%>
                                    <%= link_to  edit_favorito_path(imovel) , remote: true, class: "btn btn-default" do %>
                                        <span class="glyphicon glyphicon-envelope"></span> Enviar e-mail
                                    <%end%>
                                <%end%>    
                            </div>
                        </div>                      
                    </div>
                </div>                
            </div>
        </div>
    </div>  
    <div class="col-sm-5 col-md-4 hidden-lg">
            <%= image_tag  "faixa_vendido.png", class: "vendido" if imovel.situacao_id == 3 %>
            <%= image_tag imovel.capa.url(:lista), style: "width: 100%;margin-bottom: 10px;", class: "img-rounded"%>
            <div class="thumbnail">

                <div class="caption">
                    <h3><%= imovel.tipo.nome %> <%= imovel.area %>m²</h3>
                    <p><span><%= imovel.cidade.nome %>, <%= imovel.bairro.nome %></span></p>
                    <p>
                        <h4><%= number_to_currency_br(imovel.valor) %></h4>
                        <%= link_to 'Visualizar', imovel , class: "btn btn btn-primary" %>
                        <%= link_to  edit_favorito_path(imovel) , remote: true, class: "btn btn-default" do %>
                            <span class="glyphicon glyphicon-envelope"></span> Enviar e-mail
                        <%end%>
                    </p>
                </div>
            </div>
        </div>

</div>
<%end%>
<%= will_paginate @imoveis, renderer: BootstrapPagination::Rails%>  