<div class="container">
    <div class="row">
        <div class="col-md-3 hidden-xs">
          <%= render 'descricao' %>
          <%= render 'imoveis/filtro' %>
          <%= render 'home/correspondente' %>
        </div>
        <div class="col-md-9">
          <%= render 'fotos' %>
          <%= render  "mensagem" %>
          <%= render  "sugestoes" %>
        </div>
    </div>
</div>





    
