<div class="page-header">
    <h3>Solicitar mais informações</h3>
</div>
<%= form_with(model: mensagem, remote: true) do |form| %>

  <%= form.hidden_field :imovel_id, id: :mensagem_imovel_id , value: @imovel.id%>


  <div class="form-group">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :mensagem_nome, value: cookies[:nome], required: true, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, id: :mensagem_email, value: cookies[:email], required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :telefone %>
    <%= form.text_field :telefone, id: :mensagem_telefone,required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :mensagem %>
    <%= form.text_area :mensagem, id: :mensagem_mensagem, required: true, class: "form-control" %>
    <span class="help-block">Todos os campos são obrigatórios</span>
  </div>

  <div class="form-group">
    <%= form.submit 'Enviar', class: "btn btn btn-primary" %>
  </div>

<% end %>
