<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Solicitação para criar um anúncio</h1>
    <p>
        <strong>Cliente:</strong> <%= @cliente %> <br/>
        <strong>E-mail para retorno:</strong> <%= @email %> <br/>
        <strong>Telefone:</strong> <%= @telefone %> <br/>
        <strong>Cidade:</strong> <%= @cidade %> <br/>
        <strong>Bairro:</strong> <%= @bairro %> <br/>
        <strong>Categoria:</strong> <%= @categoria %> <br/>
        <strong>Tipo:</strong> <%= @tipo %> <br/>
        <strong>Dormitórios:</strong> <%= @dormitorios %> <br/>
        <strong>Banheiros:</strong> <%= @banheiros %> <br/>
        <strong>Garagem:</strong> <%= @garagem %> <br/>
        <strong>Área:</strong> <%= @area %> <br/>
        <strong>Valor:</strong> <%= @valor %> <br/>
        <strong>Descrição:</strong> <%= @descricao %> <br/>
    </p>

  </body>
</html>