<div class="container">  
  <div class="row">
    <div class="col-md-3 hidden-xs">
      <%= render 'imoveis/filtro' %>

      <%= render 'correspondente' %>
      <hr/>
      <%= render 'anunciar' %>
    </div>
    <div class="col-md-9">
      <%= render 'autoplay' %>
      <%= render 'novidades' %>
      <%= render 'autoplay' %>
    </div>
  </div>
</div>