<div class="container">
  <div class="panel panel-default">
      <div class="panel-body">
          <div class="page-header">
              <h3>Proprietário</h3>
          </div>
          <p>
              <strong>Nome:</strong>
              <%= @proprietario.nome %>
            </p>
      
            <p>
              <strong>Telefone:</strong>
              <%= @proprietario.telefone %>
            </p>
      
            <p>
              <strong>Email:</strong>
              <%= @proprietario.email %>
            </p>
      
            <p>
              <strong>Nascimento:</strong>
              <%= @proprietario.nascimento %>
            </p>
      
            <p>
              <strong>Endereço:</strong>
              <%= @proprietario.endereco %>
            </p>
      
            <p>
              <strong>Profissão:</strong>
              <%= @proprietario.profissao %>
            </p>
      
            <p>
              <strong>Estado civil:</strong>
              <%= @proprietario.estado_civil %>
            </p>
      
            <p>
              <strong>Cônjuge:</strong>
              <%= @proprietario.conjuge %>
            </p>
      </div>
  </div>
</div>