<div class="container">
  <div class="page-header">
    <p id="notice"><%= notice %></p>
    <h3>Anuncios</h3>
  </div>  
  <%= link_to 'Novo Anuncio', new_anuncio_path , class: "btn btn btn-primary"%>
  </br>
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
              <th>Nome</th>
              <th>Email</th>
              <th>Telefone</th>
              <th>Cidade</th>
              <th>Bairro</th>
              <th>Categoria</th>
              <th>Tipo</th>
              <th>Dormitorios</th>
              <th>Banheiros</th>
              <th>Garagem</th>
              <th>Area</th>
              <th>Valor</th>
              <th>Descricao</th>
              <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
        <% @anuncios.each do |anuncio| %>
        <tr>
          <td><%= anuncio.nome %></td>
          <td><%= anuncio.email %></td>
          <td><%= anuncio.telefone %></td>
          <td><%= anuncio.cidade %></td>
          <td><%= anuncio.bairro %></td>
          <td><%= anuncio.categoria %></td>
          <td><%= anuncio.tipo %></td>
          <td><%= anuncio.dormitorios %></td>
          <td><%= anuncio.banheiros %></td>
          <td><%= anuncio.garagem %></td>
          <td><%= anuncio.area %></td>
          <td><%= anuncio.valor %></td>
          <td><%= anuncio.descricao %></td>
          <td style="width: 5%;"><%= link_to 'Visualizar', anuncio , class: "btn btn btn-default"%></td>
          <td style="width: 5%;"><%= link_to 'Editar', edit_anuncio_path(anuncio), class: "btn btn btn-primary" %></td>
          <td style="width: 5%;"><%= link_to 'Apagar', anuncio, method: :delete, data: { confirm: 'Deseja apagar esse registro ?' }, class: "btn btn btn-danger" %></td>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>   
</div>