<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @anuncio.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @anuncio.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @anuncio.telefone %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @anuncio.cidade %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @anuncio.bairro %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @anuncio.categoria %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @anuncio.tipo %>
</p>

<p>
  <strong>Dormitorios:</strong>
  <%= @anuncio.dormitorios %>
</p>

<p>
  <strong>Banheiros:</strong>
  <%= @anuncio.banheiros %>
</p>

<p>
  <strong>Garagem:</strong>
  <%= @anuncio.garagem %>
</p>

<p>
  <strong>Area:</strong>
  <%= @anuncio.area %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @anuncio.valor %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @anuncio.descricao %>
</p>

<%= link_to 'Edit', edit_anuncio_path(@anuncio) %> |
<%= link_to 'Back', anuncios_path %>
