<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Imobiliária Buenos Aires</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="menu">
        <%= render 'layouts/menu'%>  

        <%= render 'carousel' if controller.controller_name == 'home' %>
 
    </div>
    <%= yield %>

    <%= render 'layouts/footer'%> 
  </body>
</html>
