<p id="notice"><%= notice %></p>

<p>
  <strong>Cidade:</strong>
  <%= @bairro.cidade %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @bairro.nome %>
</p>

<%= link_to 'Edit', edit_bairro_path(@bairro) %> |
<%= link_to 'Back', bairros_path %>
